.classroom-card {
    width: 500px;
    height: 400px;
    // background-color: rgb(255, 255, 255);
    float: left;
    // margin-left: 60px;
    // margin-top: 60px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
    .de-image-card {
        border-radius: 8px;
        height: 280px;
    }
    .field-name-subject {
        font-weight: 800;
        color: #090909;
        font-size: 30px;
        // margin-bottom: 12px;
        &:hover {
            color: rgb(127, 99, 54);
        }
    }
    .field-name-code {
        font-weight: 300;
        color: #090909;
        font-size: 15px;
        // margin-bottom: 12px;
    }
    .field-name-teacher {
        font-weight: 500;
        color: #090909;
        font-size: 20px;
        margin-bottom: 12px;
    }
    .field-name-wallwt {
        font-weight: 300;
        color: #090909;
        font-size: 15px;
        margin-bottom: 12px;
    }
}
